body{
	/* background-color: #181623; */
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 15px;
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
	padding: 0px;
	margin: 0px;
}

a{
	text-decoration: none;
	color: inherit;
}

button{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* .body-div{
	width:100% ;
	min-height: 200px;
	display: flex;
	justify-content: center;
	border-radius: 10px;
}  */

.body-div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.body-div .pic{
	width: 100%;
	height: 150px;
	filter: blur(9px);
}


/* .body-div .pic img{
	width: 100%;
	height:100%;
	object-fit: cover;
} */

.body-div .form-div{
	width: 100%;
	height:calc(100% - 150px);
	background-color: rgb(252, 243, 236);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	position: absolute;
}

.body-div .form-div .con-div{
	width: 26%;
	min-height: 30px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	margin: 20px 0px;
	position: relative;
	
}

.body-div .form-div .con-div .inner{
	width: 100%;
	margin:30px 0px ;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.body-div .form-div .con-div .inner .txt h2{
	margin: 0px;
	padding: 0px;
	color: rgb(114, 110, 110);
	font-size: 18px;
}

/* .body-div .form-div .con-div .inner .logo{
	width: 200px;
	height: 65px;
	justify-content: center;
} */


.body-div .form-div .con-div .inner .logo img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.body-div .form-div .con-div .inner .input-div{
	width: 90%;
	min-height: 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.body-div .form-div .con-div .inner .input-div form{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.body-div .form-div .con-div .inner .input-div form input{
	border: none;
	background-color: #e5e4f3;
	padding: 10px 4px;
	font-size: 11px;
}

.body-div .form-div .con-div .inner .input-div form label {
	display: flex;
	flex-direction: column;
	font-size: 12px;
	
}

.body-div .form-div .con-div .inner .input-div .remember-forgot{
	width: 100%;
	min-height: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	align-items: center;
}

.body-div .body-in .form-div .con-div .inner .resend{
	width: 90%;
	height: 30px;
	background-color: rgb(227, 236, 236);
	padding: 0px 2px;
	display: flex;
	align-items: center;
	font-size: 12PX;
}

.body-div .form-div .con-div .inner .resend span{	
	color: blue;
}


.body-div .form-div .con-div .inner .reset{
	width: 90%;
	height: 20px;
	display: flex;
	font-size: 12px;
	align-items: center;
	gap: 3px;
}

.body-div .form-div .con-div .inner .reset button{
	border: none;
	background-color: transparent;
	color: #e7880c;
}

.body-div .form-div .con-div .inner .input-div .remember-forgot .remember{
	display: flex;
	gap: 3px;
	align-items: center;
}

.body-div .form-div .con-div .inner .input-div .remember-forgot .remember i{
	padding: 1px;
	background-color: #e7880c;
	border-radius: 2px;
}

.body-div .form-div .con-div .inner .input-div .remember-forgot button{
	background-color: transparent;
	border: none;
	text-decoration: underline;
	font-size: 11px;
}

.body-div .form-div .con-div .inner .btn{
	width: 90%;
	height: 30px;
	background-color: #e7880c;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	
}

.body-div  .form-div .con-div .inner .btn button{
	background-color: transparent;
	border: none;
	color: #fff;
}

@media all and (max-width:900px){
	.body-div .form-div .con-div{
		width: 40%;
		
	}
}

@media all and (max-width:558px){
	.body-div .form-div .con-div{
		width: 60%;
		
	}

	@media all and (max-width:400px){
		.body-div .form-div .con-div{
			width: 70%;
			
		}
}

}